<div>
	<form action="/quotes" method="POST">
		<input type="text" class="" placeholder="Recipe Name" name="Rname">
		<input type="text" placeholder="Chef" name="user">
		<select name="" form="FoodCat">
		  <option value="Meat">Meat</option>
		  <option value="Fish">Fish</option>
		  <option value="Veggie">Veggie</option>
		  <option value="Salad">Salad</option>
		  <option value="Pasta">Pasta</option>
		  <option value="Dessert">Dessert</option>
		</select>
		<input type="text" placeholder="quote" name="quote">
	</form>
</div>
  <button type="submit">Submit</button>
</form>